<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">Room Hunter</a>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="nav navbar-nav nav-left ">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/posts/add']">List My Room</a>
      </li>
    </ul>

    <ul class="nav navbar-nav nav-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
    </ul>

  </div>
</nav>