<h2 class="page-hearder text-primary">Login</h2>

<form [formGroup]="loginForm" (submit)="onLoginSubmit()">
  <div class="form-group">
    <label class="col-form-label" for="username">Username</label>
    <input class="form-control" formControlName="username" type="text" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Enter Username">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
       <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-form-label" for="password">Password</label>
    <input class="form-control" formControlName="password"  type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder=" Enter Password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
       <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Login">
</form>