<h2 class="page-hearder text-primary">List My Room</h2>
<form (submit)="onCreatedSubmit()">
  <br>
  <h3 class="text-muted">Details</h3>
  <hr class="my-2">

  <div class="form-group">
    <label for="">Title</label>
    <input [(ngModel)]="title" type="text" class="form-control" name="title" placeholder="Enter title">
  </div>

  <div class="form-group">
    <label for="roomType">Room Type</label>
    <select [(ngModel)]="roomType" class="form-control" name="roomType">
      <option>Private Room</option>
      <option>Room Shared with Others</option>
    </select>
  </div>

  <div class="form-group">
    <label class="rent">Rent</label>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input [(ngModel)]="rent" name="rent" type="text" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text">Per Week</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">Street</label>
    <input [(ngModel)]="street" type="text" class="form-control" name="street" placeholder="Enter street">
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="">Suburb</label>
      <input [(ngModel)]="suburb" type="text" class="form-control" name="suburb" placeholder="Enter suburb">
    </div>
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input [(ngModel)]="state" type="text" class="form-control" name="State" placeholder="Enter State">
  </div>

  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input [(ngModel)]="postCode" type="text" class="form-control" name="postcode" placeholder="Enter postcode">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea [(ngModel)]="description" class="form-control" name="description" rows="5"></textarea>
  </div>

  <br>
  <h3 class="text-muted">Contact Info</h3>
  <hr class="my-2">

  <div class="form-group">
    <label for="name">Contact Name</label>
    <input [(ngModel)]="contactName" type="text" class="form-control" name="contactName" placeholder="">
  </div>

  <div class="form-group">
    <label for="Phone">Phone</label>
    <input [(ngModel)]="phone" type="phone" class="form-control" name="phone" placeholder="Enter phone">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" (click)="onCreatedCancel()" class="btn btn-secondary">Cancel</button>
</form>