<!-- this shows the create post page  -->
<h2>Post My Room</h2>

<table>
  <tr>
    <td>Area:</td>
    <td>
      <input>
    </td>
  </tr>
  <tr>
    <td>Room Type:</td>
    <td>
      <input>
    </td>
  </tr>
  <tr>
    <td>Price:</td>
    <td>
      <input>
    </td>
  </tr>
  <tr>
    <td>Address:</td>
    <td>
      <input>
    </td>
  </tr>
  <tr>
    <td>Contact:</td>
    <td>
      <input>
    </td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>
      <textarea rows="4" cols="50" placeholder="Enter your description"></textarea>
    </td>
  </tr>
</table>
<button>Submit</button> &nbsp;
<button>Cancel</button>