<label>Search:
  <input>
  <input type="button" value="search">
</label>
<br>
<label>Area:
  <input type="checkbox" value="sydney"> Sydney &nbsp;
  <input type="checkbox"> Melbourne&nbsp;
  <input type="checkbox"> Brisbane&nbsp;
  <input type="checkbox"> Gold Coast&nbsp;
</label>
<br>
<label>Price:
  <input type="checkbox"> &lt; $100&nbsp;
  <input type="checkbox"> $100 - $200&nbsp;
  <input type="checkbox"> $200 - $300&nbsp;
  <input type="checkbox"> $300 - $400&nbsp;
  <input type="checkbox"> &gt; 400
</label>